.fundo-pink{
    background: pink;
}

.texto-vermelho{
    color: red;
}

h2{
    color: darkviolet;
}

p{
    color: steelblue;
    background: pink;
}

h2{
    color: brown;
}

/* cascata */
/*especificação*/